@import "tailwindcss";

:root {
  --background: #181818;
  --foreground: #FAFAFA;
  --accent: #EFC68D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-alegreya: var(--font-alegreya-sans);
  --font-instrument: var(--font-instrument-serif);

  --breakpoint-*: initial; /* Resets all default breakpoints */
  --breakpoint-tablet: 744px;
  --breakpoint-laptop: 1280px;
  --breakpoint-desktop: 1512px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181818;
    --foreground: #FAFAFA;
    --accent: #EFC68D;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
